/* @containers****************************************************************************************************************************************************************************************/
.container,.container_alt,.container_vis{
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding:0 20px;
	overflow:hidden;
	position:relative;
}
.container_alt{
	overflow:visible;
	padding:0 0;
}
.container_vis{
	overflow:visible;
}
#footer .container{
	background:none !important;
}
/* @columns****************************************************************************************************************************************************************************************/
.onecol, .twocol, .threecol, .fourcol, .fivecol,.fifthcol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol,.warpbox {
	margin-left:0;
	float: left;
	min-height: 1px;
}
.foocol{
	margin:0 0 0 0;
	width:20%;
	padding:20px 20px 20px 20px;
	position:relative;
	height:100%;
	min-height:1px;
	float:left;
}
.foocol.last{
	float:right;
	width:calc(40% - 40px);
	margin:0 20px;
	padding:20px 40px 20px 40px;
/*	background:rgba(255,255,255,.1)*/
	background-color: #122937;
}
/*sidebar*/
.fourcol{
	width:33%;
	padding:0 20px;
	margin:0 0 40px 0;
	min-height:1px;
	float:left;
}
/*content*/
.eightcol{
	width:67%;
	padding:0 20px;
	margin:0 0 40px 0;
	min-height:1px;
	float:left;
}
/* sidebar position */
.postbarLeft .eightcol{
	float: right !important
}
.postbarNone .eightcol{
	float:none !important;
	margin:0 auto 40px auto !important;
}
.postbarNone .entryhead iframe{
	width:100%;
}
/* one column layout */
.sixcol{
	width:50%
}
.first,.ml-first {
	margin-left: 0px !important;
}
.widgetable{
	padding:0 0;
	overflow:hidden;
	margin:0 0 0 0;
}
.single-post .fourcol,.single-post .eightcol,.page .fourcol,.page .eightcol{
	margin-bottom:90px;
}
/* @responsive mode****************************************************************************************************************************************************************************************/
@media screen and (max-width: 1360px) {
	.page-header img{
		width:140%;
		max-width:140% !important;
		left:-20%;
	}
}
/* iPad Landscape */
@media screen and (max-width: 1155px) {
	.head_container{
		padding:0 0;
	}
	#titles {
		max-width: 25%;
	}
	#header h1,#header img{
		margin: 0 0 0 0;
	}
	.nav > li > a {
		padding: 15px 6px;
	}
	.nav li.menu-item-has-children a, .nav li.page_item_has_children a {
		padding-right: 14px !important;
	}
	.menu-item-has-children > a::after{
		right:8px;
	}
	.owl-carousel .owl-item img.bg_image{
		width:120% !important;
		max-width:120% !important;
		margin:0 -10%;
	}
	.eleinside_Left .eleslideinside{
		left:50px;
		max-width:100%;
		margin-left:0;
	}
	.eleinside_Right .eleslideinside{
		right:50px;
		max-width:100%;
		margin-right:0;
	}
	.eleslideinside p{
		font-size:110%;
		line-height:1.3;
		margin:12px 0;
	}
	.eleslideinside .su-button{
		margin-top:25px !important;
	}
	.eleslideinside .su-button span {
		padding: 14px 18px !important;
	}
	.page-header {
		padding: 60px 0;
	}
	.page-header img{
		width:180%;
		max-width:180% !important;
		left:-40%;
	}
	h1.entry-title, h2.archiv, .eleslideinside h2{
		font-size:6vw !important;
	}
}
/* tablet Portrait */
@media screen and (max-width: 885px){
	div.tooltip p:after,.nav>li>ul:after,.sf-arrows .sf-with-ul::after,.sf-arrows .sf-with-ul::after{
		display:none !important;
	}
	body {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0;
		padding-right: 0;
		margin-top:0;
		font-size: 16px;
		-webkit-text-size-adjust: none;
	}
	.onecol, .twocol, .threecol,.threecol_spec, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol,.fifthcol{
		width: auto;
		float: none !important;
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 0;
		margin-right: 0;
	}
	#topbar{
		display:none;
	}
	#titles {
		max-width: 50%;
		text-align:left;
		margin-bottom:20px;
	}
	#titles .logo {
		margin-top:20px !important;
		margin-bottom:20px !important;
		overflow:hidden;
	}
	.page-header {
		padding: 50px 0 50px 0;
	}
	.owl-carousel .owl-item img.bg_image{
		width:140% !important;
		max-width:140% !important;
		margin:0 -20%;
	}
	.owl-item .eleslideinside{
		top:18%;
	}
	.eleslideinside p{
		font-size:100%;
		line-height:1.3;
		margin:8px 0;
	}
	.eleslideinside .su-button{
		margin-top:18px !important;
	}
	/* mobile menu */
	.show-menu{
		display:block !important;
	}
	#navigation{
		display:none;
		position:relative;
		overflow:hidden;
		height:auto;
		top:auto;
		margin:-2px -20px 0 -20px !important;
		padding:0 0 0 0 !important;
		width:calc(100% + 40px);
		background:#1F2024;
	}
	#navigation a{
		color:#fff !important;
	}
	#main-nav,#top-nav{
		display:block;
		overflow:hidden;
		margin-bottom:10px !important;
	}
	#navigation a:hover,#navigation .current-menu-item>a{
		opacity:.6;
	}
	ul.nav,#main-nav{
		width:100% !important;
		margin:0 0 0 0 !important;
		padding:0 0 0 0 !important;
	}
	ul.nav li,.nav li ul {
		width:100% !important;
		background-color: transparent !important;
		border:none !important;
		float:none;
		display:block;
		margin:0 0 0 0 !important;
		padding-top:3px !important;
		padding-bottom:3px !important;
		position:relative !important;
		left:auto !important;
		display:block !important;
		visibility:visible !important;
		padding-top:0;
	}
	.nav li ul.sub-menu{
		padding:0 0 0 20px !important;
	}
	.nav > li ul {
		max-height: none;
		opacity: 1;
	}
	#navigation .nav li ul li > a{
		border-bottom:1px dotted rgba(255,255,255,.2) !important;
		text-align:left;
	}
	ul.nav li a{
		width:100% !important;
		text-align:left;
		padding:15px 20px !important;
		margin:0 0 0 20px;
		font-size:16px !important;
	}
	ul.nav li ul.sub-menu a{
		padding:5px 0 !important;
	}
	#top-nav li a{
		margin:0 0;
		padding:10px 0 !important;
	}
	#top-nav>li.special{
		padding-left:0;
	}
	#top-nav>li.special>a{
		padding: 15px 18px 15px 18px !important;
	}
	.nav li ul li > a {
		font-size: 13px !important;
	}
	.nav li a.sf-with-ul {
		padding-right: 0 !important;
	}
	#main-nav > li > a {
		margin: 0 0 0 0 !important;
	}
	.nav > li > ul > li,.nav li ul ul li,#main-nav li ul li > a,.nav li ul li > a {
		max-width: 100% !important;
		margin:0 0 0 0;
		padding:0 0 0 0;
	}
	.nav li ul{
		padding:0 20px;
	}
	#main-nav li.mega ul.sub-menu {
		min-height:0px;
	}
	.nav li ul ul{
		margin:0 0 0 0;
		padding:0 0 0 0;
	}
	div.sub,.nav > li > ul:after,.menu-item-has-children > a::after,.header_icons{
		display:none !important;
	}
	#main-nav > li{
		padding:0 0;
	}
	#main-nav > li.special{
		padding-right:20px
}
	#top-nav{
		display: flex !important;
	}
	#top-nav > li{
		width:auto !important;
		padding:0 20px 0 0;
		/*flex-grow: 1;
		flex-basis: 0;
		*/
	}
	#main-nav > li::before,.menu-item-has-children > a::after{
		display:none;
	}
	.nav li ul.sub-menu {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	/* end mobile menu */
	/*/
	///stacked clomuns & posts */
	/* columns */
	.eightcol,.fourcol{
		width: 100%;
		margin:0 auto !important;
		float:none !important;
		display:block;
		width:100%;
		border-left: none;
		border-right:none;
		padding:20px;
	}
	#sidebar,#footer .foocol,.landing-section,.footer-logo{
		max-width:360px;
		width:100%;
		float:none !important;
		margin:0 auto !important;
		padding:20px 0 !important;
	}
	#footer .foocol{
		padding:20px 20px !important;
	}
	#core {
		padding-top:0;
	}
	.fullcontent{
		padding-top:20px;
	}
	.blogger {
		padding:0;
		overflow:hidden;
	}
	.blogger>.item img{
		width:100%;
	}
	/* posts */
	.item_inn {
		overflow: hidden;
		padding: 0 0;
	}
	.item_inn::after,.item_inn::before{
		display:none;
	}
	.postbarNone .entry img.heroimg{
		margin:30px -20px;
		left:0;
		max-width:calc(100% + 40px)
}
	.postbarLeft .eightcol {
		float: none !important;
	}
	/*/
	///end stacked colmuns & posts */
	/* woocommerce */
	#woo-inn{
		margin-left:0;
	}
	.woocommerce-page div.product div.summary {
		margin: 0 0 40px 0;
		width: 100%;
	}
	.woocommerce-page ul.products li.product, .woocommerce ul.products li.product {
		width: 100% !important;
		margin:0 0 30px 0 !important;
	}
	.woocommerce h1.page-title,p.woocommerce-result-count{
		text-align:center;
		width:100%;
	}
	.woocommerce #foliocontent .woocommerce-tabs,.woocommerce #foliocontent .related.products {
		width: 100%;
	}
	.woocommerce-page #foliosidebar {
		clear: both;
	}
	.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
		float: none;
	}
	.tmnf-sc-quote.left,.tmnf-sc-quote.right{
		width:100%;
		float:none;
		margin-left:0;
		margin-right:0
}
	.wpcf7-form p.sixcol{
		float: none;
		margin-right: 0;
		width: 100%;
	}
	/* comments */
	.commentlist li.comment.parent {
		padding: 15px 0 0 0px;
	}
	.commentlist li.comment {
		padding: 20px 5px 10px 5px;
	}
	ul.children li.comment:last-child {
		padding: 20px 0 10px 20px !important;
	}
	.commentlist .avatar {
		right: 0;
		left:auto;
		top: 20px;
		width: 40px;
	}
	li.bypostauthor{
		padding-left:10px !important;
	}
	/* other */
	.footer_text {
		float: left;
	}
	.footer-logo img {
		margin: 30px auto;
		float: left;
	}
	#curtain .searchform {
		left: 10%;
		margin: 0 0;
		max-width: 80%;
		width: 80%;
	}
	#curtain a.curtainclose {
		left: 30px;
		margin: 0 0;
		top: 30px;
	}
	.wrapper .entry h1{
		font-size:150% !important;
	}
	.wrapper .entry h2{
		font-size:140% !important;
	}
	.wrapper .entry h3{
		font-size:130% !important;
	}
	.wrapper .entry h4{
		font-size:120% !important;
	}
	.wrapper .entry h5{
		font-size:110% !important;
	}
	.wrapper .entry h6{
		font-size:100% !important;
	}
	#footer .bottom-menu{
		margin-bottom:50px !important;
	}
}
@media only screen and (max-width: 685px) {
	h1.entry-title, h2.archiv, .slideinside h2{
		font-size:7vw !important;
	}
	.eleslideinside h3 {
		font-size: 5vw;
	}
	.eleslideinside p{
		font-size:90%;
		line-height:1.3;
		margin:5px 0;
	}
	.eleslideinside .su-button{
		margin-top:15px !important;
	}
	.wrapper .events-table td{
		display:block;
		padding:10px 20px 20px 20px !important;
		width:100% !important;
	}
	.wrapper .events-table td.date {
		font-size: 13px;
		padding:30px 20px 0 20px !important;
		text-align:left;
	}
	.events-table img{
		max-width:60px !important;
		margin:0 15px 0 0;
	}
	.wrapper .entry .events-table h5{
		margin-bottom:0;
	}
	.wrapper .events-table .list_text p{
		display:none;
	}
	.event_header .em-location-map-container {
		float: none;
		margin:-40px -40px 40px -40px;
		width:calc(100% + 80px) !important;
	}
	/* posts */
	.page-header {
		padding: 25px 0 20px 0;
	}
	.page-header img{
		width:300%;
		max-width:300% !important;
		left:-100%;
	}
	.main-breadcrumbs{
		font-size:11px;
	}
	.comment-form-author,.comment-form-email,.comment-form-url,#post-nav,.postauthor{
		width:100%;
	}
	#respond textarea{
		width:99.5%;
	}
	.entry blockquote {
		margin: 5px 10px;
		padding: 0 20px !important;
	}
	.scrollTo_top{
		right:0;
		width:100%;
		display:none !important;
	}
	ul.social-menu li a{
		padding: 9px 8px 8px 21px;
	}
	ul.social-menu li span{
		display:none;
	}
	.events-table a.mainbutton{
		display:none;
	}
}
@media only screen and (max-width: 595px) {
	#top-nav{
		display: block !important;
	}
	.eleslideinside,.eleinside_Left .eleslideinside{
		left:10%;
		width:80%;
		top:10%;
	}
	.eleinside_Right .eleslideinside{
		right:10%;
	}
	.eleslideinside h3 {
		font-size: 7vw;
		margin-top:5px;
	}
	.wpm_eleslider .owl-dots{
		bottom:0;
	}
	.owl-carousel .owl-item img.bg_image{
		width:220% !important;
		max-width:220% !important;
		margin:0 -60%;
	}
	.eleslideinside .su-button span {
		padding: 6px 8px !important;
	}
	.eleslideinside .su-button span i{
		display:none;
	}
	h2.archiv span.subtitle {
		max-width: 100%;
	}
	.entryhead iframe {
		max-height: 200px;
	}
	.post-previous, .post-next{
		width:100%;
		margin-top:-1px;
		margin-left:0;
		border-width:1px 0 1px 0;
	}
	ul.related li{
		width:50% !important;
	}
	ul.related li:nth-child(4){
		clear:left;
	}
	.give-archive-item{
		width:100%;
		float:none;
	}
	.give-archive-item img{
		width:100%;
	}
	.give-archive-item:nth-child(2n +3) {
		clear:none;
	}
	.events-table img{
		display:none;
	}
	div.css-search div.em-search-field{
		display:block;
		width:100%;
	}
	div.css-search.has-search-geo.has-search-term input.em-search-text, div.css-search.has-search-geo.has-search-term input.em-search-geo{
		width:80%;
	}
	.post-pagination > p a{
		display:none
}
	.page-link {
		margin: 5px 0 0 0;
		position: relative;
		width: 100%;
		left: 0;
	}
	.wide_menu ul.menu{
		padding:10px 0;
	}
	.wide_menu ul.menu > li{
		width:100%;
	}
	h2{
		font-size:5vw !important;
	}
	h3{
		font-size:4.5vw !important;
	}
	#footop h2{
		font-size: 3vw !important;
	}
}
@media only screen and (max-width: 395px) {
	h2{
		font-size:6.5vw !important;
	}
	h3{
		font-size:6vw !important;
	}
}